<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TravelBike</a>
    </div>

    <!-- Top Menu Items -->
    <% include ../base/top-menu.ejs %>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <% include ../base/side-menu.ejs %>
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <i class="fa fa-dashboard"></i> Dashboard <small>Statistics Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="/">Dashboard</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <form role="form" action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="username" id="email" spellcheck="false" class="form-control" placeholder="Email address">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" spellcheck="false" id="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>

                <% if (enableTwitterAuth || enableTwitterAuth || enableFacebookAuth) { %>
                <p class="text usersocial">Or use your social account</p>
                <% } %>

                <% if (enableTwitterAuth) { %>
                <a class="sociallogin-btn sociallogin-twitter" href="/auth/twitter">Sign in with Twitter</a>
                <% } %>

                <% if (enableFacebookAuth) { %>
                <a class="sociallogin-btn sociallogin-facebook" href="/auth/facebook">Sign in with Facebook</a>
                <% } %>

                <p class="text signup">Dont' have an account? <a href="/auth/signup">Sign up</a></p>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>