<form role="form" action="/account/passwordChange" method="post">
    <fieldset>
        <% if (req.user.password) { %>
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" name="old_password" id="old_password" spellcheck="false" class="form-control" placeholder="Old Password" type="text">
        </div>
        <% } %>

        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" spellcheck="false" class="form-control" placeholder="New Password" type="text">
        </div>

        <button type="submit" class="btn btn-primary">Set Password</button>
    </fieldset>
</form>