<div class="accountmenu-container clearfix">
    <p class="appname-text"><a href="/">Sails-Auth</a></p>

    <div class="user-box dropdown clearfix">
        <a id="account-btn" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user-circle clearfix">
                <p class="user-text"><%= accountLabel %></p>
            </div>
            <img class="arrow-image" src="<%= accountPicture %>">
        </a>
        <ul class="dropdown-menu dropdown-menu-account" role="menu" aria-labelledby="account-btn">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/account/">Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/auth/logout">Log Out</a></li>
        </ul>
    </div>
</div>

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row"></div>
    <div class="col-md-4 col-md-offset-4">

        <div class="auth-cont auth-password clearfix">
            <a href="/">
                <img class="close-icon" src="/images/close-icon.png">
            </a>
            <p class="text header">Welcome back!</p>
            <p class="text subheader">Set your password</p>

            <form action="/account/passwordChange" method="post">

                <% if (accountPassword) { %>
                <div class="password-container clearfix">
                    <img class="password-icon" src="/images/password-icon.png">
                    <input type="password" name="old_password" spellcheck="false" class="pass-field" placeholder="Old Password" type="text">
                </div>
                <% } %>

                <div class="password-container clearfix">
                    <img class="password-icon" src="/images/password-icon.png">
                    <input type="password" name="password" spellcheck="false" class="pass-field" placeholder="New Password" type="text">
                </div>

                <input type="submit" class="login-btn" value="Change Password">
                <div class="clearfix"></div>
            </form>

        </div>

    </div>
</div>

<img class="grass-image" src="/images/grass.png">
